.navbar {
    background-color: #7692ff;
    color: #000000;
    display: flex;
    align-items: center;
    padding: 10px 50px;
    height: 40px;

    --background-color: #0e1111;
    --border-size: 2px;
    --accent-color: white;
}
