.input {
    min-height: 100svh;
    background-color: rgb(71, 71, 255);
    color: white;
    display: flex;
    flex-direction: column;
}

.input__text-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input__list-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 100%;
}

.input__list-title {
    display: flex;
    font-size: 64px;
    justify-content: center;
}

.input__list-choices-body {
    background-color: rgb(95, 95, 249);
    box-sizing: border-box;
    display: flex;

    margin: 0 50px 50px 50px;
    height: auto;
    max-height: 700px;
    overflow: auto;
}

.input__list-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 30px;
}

arena-of-choices-choice-input-text-input {
    width: 80%;
}

arena-of-choices-choice-input-card {
    box-sizing: border-box;
    flex: 1 1 33%;
    max-width: 33%;

    padding: 20px 20px 20px 0;
}
