.container {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.container__canvas {
    color: white;
    font-size: 16px;
    border: 1px solid white;
    width: 960px;
    height: 720px;
}

.container__buttons {
    display: flex;
    gap: 25px;
}

.container__button {
    font-family: 'Permanent Marker', cursive;

    flex-grow: 1;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    transition: 0.5s;
    background-color: #7692ff;
    color: white;
}

.container__button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #495a9c;
}

@media only screen and (max-width: 1600px) {
    .container__canvas {
        width: 672px;
        height: 504px;
    }

    .container {
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 800px) {
    .container__canvas {
        width: calc(960px * 0.5);
        height: calc(720px * 0.5);
    }
}

@media only screen and (max-width: 500px) {
    .container__canvas {
        width: calc(960px * 0.4);
        height: calc(720px * 0.4);
    }

    .container__button {
        font-size: 18px;
    }
}
