.text-input {
    width: 100%;
    border-top: 20px solid transparent;
}

.text-input__label {
    display: flex;
}

.text-input__input {
    padding: 5px;
    font-size: 48px;
    width: 100%;
    border-radius: 5px;
    font-family: 'Permanent Marker', cursive;
}

.text-input__input:focus {
    outline: none;
}

.text-input__button {
    background-color: transparent;
    border: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    border: 1px solid #7692ff;
    border-radius: 5px;
    width: 20%;
    margin-left: 16px;
    transition: 0.5s background-color;
    background-color: #7692ff;
}

.text-input__button:hover {
    background-color: #495a9c;
}

.text-input__button:active {
    background-color: #7692ff;

    color: black;
}

@media only screen and (max-width: 800px) {
    .text-input__input {
        font-size: 24px;
    }
    .text-input__button {
        font-size: 12px;
    }
}
