.choice-stat-card {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-areas: 'canvas info';
    align-items: center;
    padding: 25px;
    background-color: #1e1e1e;
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
}

.choice-stat-card::before {
    background: radial-gradient(
        800px circle at 100px 100px,
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    border-radius: inherit;
    content: '';
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
}

.choice-stat-card__canvas-container {
    grid-area: canvas;
    grid-column: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50px;
    height: 50px;
}

.choice-stat-card__canvas {
    width: 50px;
    height: 50px;
}

.choice-stat-card__info {
    grid-area: info;
    grid-column: 2;
    display: flex;
    font-size: 24px;
    align-items: center;
    margin-left: 25px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: auto;
    flex-direction: column;
}

.choice-stat-card__choice-name {
    width: 100%;
}

.choice-stat-card__max-health {
    box-sizing: border-box;
    flex: 1 1;
    border: 1px solid red;
    border-radius: 10px;
    height: 100%;
    min-height: 50px;
    width: 100%;
    position: relative;
}

.choice-stat-card__current-health {
    background-color: red;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 50px;
}

.a {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
}
