<div class="choice-stat-card">
    <div class="choice-stat-card__canvas-container">
        <canvas #canvas class="choice-stat-card__canvas"></canvas>
    </div>

    <div class="choice-stat-card__info">
        <div class="choice-stat-card__choice-name">{{ choiceStat.choice }}</div>
        <div class="choice-stat-card__max-health">
            <div
                class="choice-stat-card__current-health"
                [style.width.%]="choiceStat.health"
            >
                {{ choiceStat.health }}
            </div>
        </div>
    </div>
</div>
