.canvas-container {
    height: 100%;
    width: 100%;
    background-color: inherit;
    display: flex;
    gap: 24px;
    margin: 24px;
}

.canvas-container__choice-stats {
    flex-wrap: wrap;
    flex: 1 1;
    gap: 10px;
    overflow: auto;
    margin-bottom: 100px;
    padding: 0 10px 0 10px;
    max-height: 100svh;
}

@media only screen and (max-width: 1600px) {
    .canvas-container {
        flex-direction: column;
        margin: 0;
    }

    arena-of-choices-choice-stat-card {
        flex: 1 1 50%;
        max-width: 50%;

        padding: 20px 20px 20px 0;
    }

    .canvas-container__choice-stats {
        margin: 0 15% 0 15%;
    }
}

arena-of-choices-choice-stat-card {
    flex: 1 1 30%;
    max-width: 30%;

    padding: 20px 20px 20px 0;
}

arena-of-choices-canvas-arena {
    height: 100%;
}
