.container {
    background-color: inherit;
    color: inherit;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

arena-of-choices-choice-input-section,
arena-of-choices-canvas-section {
    min-height: 100svh;
    display: flex;
}
