.container {
    background-color: inherit;
    color: inherit;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

arena-of-choices-choice-input-section,
arena-of-choices-canvas-section {
    height: 100svh;
    display: flex;
    background-color: inherit;
}

@media only screen and (max-width: 1600px) {
    arena-of-choices-choice-input-section,
    arena-of-choices-canvas-section {
        height: auto;
    }
}
