.landing-section {
  background-color: #181a18;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}

.landing-section__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  transition: 1s;
}

.landing-section__info-header {
  font-size: 64px;
}
