:host {
    display: flex;
    flex-grow: 1;
    background-color: #091540;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.signup__container {
    background-color: #7692ff;
    border: 1px solid black;

    border-radius: 8px;
    color: #ffffff;
    padding: 72px;
    width: 400px;
    height: 500px;
}

.signup__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.signup__username,
.signup__password {
    display: flex;
    flex-direction: column;
}

.signup__input {
    padding: 5px;

    width: 100%;
    border-radius: 5px;
    font-family: 'Permanent Marker', cursive;
}

.signup__button {
    background-color: #091540;
    color: #ffffff;
    font-family: 'Permanent Marker', cursive;
    border: none;
    padding: 4px;
    transition: 0.5s background-color;
}

.signup__button:hover {
    background-color: #495a9c;
}
