.input-card {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 'canvas info';
    padding: 25px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
}

.input-card:hover {
    .input-card__info {
        transform: translate(25px);
    }

    .input-card__canvas {
        transform: scale(1.1);
    }
}

.input-card__canvas-container {
    grid-area: canvas;
    grid-column: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.input-card__canvas {
    width: 150px;
    height: 150px;
    transition: transform 0.5s;
}

.input-card__info {
    grid-area: info;
    grid-column: 2;
    display: flex;
    font-size: 48px;
    align-items: center;
    margin-left: 25px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: auto;
    transition: transform 0.5s;
}

.input-card__choice-name {
    max-width: 100%;
}

.input-card__delete {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    padding: inherit;
    z-index: 2;
    transition: 0.5s;
}

.input-card__delete:hover {
    transform: rotate(360deg) scale(1.4);
    cursor: pointer;
}
