.input-card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 25px;
    background-color: #1e1e1e;
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
}

.input-card::before {
    background: radial-gradient(
        800px circle at 100px 100px,
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    border-radius: inherit;
    content: '';
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
}

.input-card__canvas {
    width: 150px;
    height: 150px;
}

.input-card__info {
    display: flex;
    font-size: 48px;
    align-items: center;
    margin-left: 25px;
}
