arena-of-choices-landing-section {
    font-family: 'Permanent Marker', cursive;
}

arena-of-choices-choice-tool {
    display: block;
    max-height: 100svh;
    background-color: inherit;
}

.container {
    transition: 0.5s background-color;
    width: 100%;
    height: 100%;
}
